<div class="card" *ngIf="listclientes.length>0">
  <div class="card-header">Listado de clientes</div>
  <div class="card-body">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of listclientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.createAt}}</td>
            <td>Editar</td>
            <td>Eliminar</td>
        </tr>
    </tbody>
  </div>
</div>

<div *ngIf="listclientes.length==0">
    No hay clientes disponibles
</div>